<div class="content">
  <h1 class="page-title"><%= @market['name'] %></h1>
  <h2 class="page-title"><%= @market['city'] %>, <%= @market['state'] %></h2>
  <h3>Vendors at our Market:</h3>
  <ul>
    <% @vendors.each do |vendor| %>
      <li><%= link_to vendor['name'], vendor_path(vendor['id']) %></li>
    <% end %>
  </ul>
</div>
